<!DOCTYPE html> 
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>  The Title </title>
	<meta name="description" content="">
	<meta name="keywords" content="">
		<style>
			html { text-align: center; font-family: sans-serif;}
			body { width: 990px; margin: 0 auto 0 auto; text-align: left; background: transparent; border: 50px solid transparent; }
			header { opacity: 0.5;width: 978px; display: table; text-align: center; color: #0099ff; border: 7px #383838 solid; text-shadow: -1px 0 #383838, 0 1px #383838, 1px 0 #383838, 0 -2px #383838; border-bottom: 4px #383838 solid;}
			nav { opacity: 0.5; float: center; width: 976px; display: table; text-align: center; border: 8px #383838 solid; border-top: 4px #383838 solid; border-bottom: 4px #383838 solid; color: white;}
			article { opacity: 0.5; width: 967px; padding: 5px; height: 700px; display: table; text-align: center; color: white; border: 8px #383838 solid; border-top: 4px #383838 solid; border-bottom: 4px #383838 solid;}
			footer { opacity: 0.5; width: 966px; height: 100px; color: white; border: 8px #383838 solid; border-top: 4px #383838 solid; padding: 5px;}
		</style>
</head>
<body> 
<iframe src="/solarSystem" <a style=" position: absolute; top: 0; left:0; height:1500px; width: 1500px; z-index: -1;">>
  <p>Your browser does not support iframes.</p>
</iframe>
	<header>
		<h1> <p style ="font-size: 64px;"> PCS Swimming</h1>
	</header>
	<nav>
		<a style="color: #000000; text-decoration: none;" href="index.html"> <ul> <p style= "padding: 10px; float: left; background: #00ffff; width: 170px; border: 3px solid white; margin: 10px;">  Home</ul></a>
		<a style="color: #000000; text-decoration: none;" href="Image.html"> <ul> <p style= "padding: 10px; float: left; background: #00ccff; width: 170px; border: 3px solid white; margin: 10px;">Image Page</ul></a>
		<a style="color: #000000; text-decoration: none;" href="Video.html"> <ul> <p style= "padding: 10px; float: left; background: #0099ff; width: 170px; border: 3px solid white; margin: 10px;"> Video Page </ul></a>
		<a style="color: #000000; text-decoration: none;" href="Audio.html"> <ul> <p style= "padding: 10px; float: left; background: #0066ff; width: 170px; border: 3px solid white; margin: 10px;"> Audio Page </ul></a>
	</nav>
	<article>
		<h1> <p style= " font-size: 36px;"> TED Talk on our club</h1>
		<h2> <p style= " font-size: 12px;"> Kinda <h2>
		<video width="320" height="20" controls> <source src="/mewsik/TheTrololoSong.mp3" type="audio/mp3"> Your browser does not support the video tag. </video>
		<p> <a style="font-size: 12px;"> believe it or not, there was actually totally a TED talk about this club, and so like this is totally it and pretend its here.
		</p>
		<h2> <a style="font-size: 36px;"> His Realization: </h2>
		<p> <a style="font-size: 18px;">
		Our methods of training as a swim team were actually so revolutionary that we should apply the methods to every system in the world and all our problems will go away, so yah. This is legit.
		</p>
	</article>
</body>
<footer>
<h1> <p style="text-align: right; font-size: 12px"> This page was designed by James Livingston with tech help from John Hyde</h1>
<h2> <p style="text-align: right; font-size: 12px"> Other technical stuff* </h2>
<h3> <p style="text-align: left; font-size: 8px"> *stuff refers to things </h3>
</footer>
</html>