<!DOCTYPE html> 
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>  The Title </title>
	<meta name="description" content="">
	<meta name="keywords" content="">
		<style>
			html { text-align: center; font-family: sans-serif;}
			body { width: 990px; margin: 0 auto 0 auto; text-align: left; padding: 5px; background-image: url("file:///Users/jameslivingston/Downloads/swimmingPoolRipples.jpeg"); color:white;}
			header { width: 990px; display: table; text-align: center; background-color: #e0e0e0; color: #00ffff; border: 7px black solid; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;}
			nav { float: center; width: 970px; display: table; text-align: center; background-color: #00ffff; padding: 7px; border: 10px black solid;}
			article { width: 990px; height: 1000px; display: table; text-align: center; color: black; background: #e0e0e0; border: 7px black solid;}
		</style>
</head>
<body> 
	<header>
		<h1> <p style ="font-size: 64px;"> Home Page</h1>
		<h2> Kinda </h2>
	</header>
	<nav>
		<a style="color: #000000; text-decoration: none;" href="beginningOfWebpage.html"> <ul> <p style= "text-decoration: none; padding: 10px; float: left; background: #00ffff; width: 170px; border: 3px solid white; margin: 10px;">Home</ul></a>
		<a style="color: #000000; text-decoration: none;" href="Image.html"> <ul> <p style= "padding: 10px; float: left; background: #00ccff; width: 170px; border: 3px solid white; margin: 10px;">Image Page</ul></a>
		<a style="color: #000000; text-decoration: none;" href="Video.html"> <ul> <p style= "padding: 10px; float: left; background: #0099ff; width: 170px; border: 3px solid white; margin: 10px;"> Video Page </ul></a>
		<a style="color: #000000; text-decoration: none;" href="Audio.html"> <ul> <p style= "padding: 10px; float: left; background: #0066ff; width: 170px; border: 3px solid white; margin: 10px;"> Audio Page </ul></a>
	</nav>
	<article>
		<h1> <p style= " font-size: 36px;"> This is the Home Page <h1>
		<h2> <p style= " font-size: 24px;"> Where We Do Home Things <h2>
		<h3> <p style= " font-size: 12px;"> But not Really <h3>
		<p> 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text 
		This is default text This is default text This is default text This is default text This is default text This is default text
		<p>
	</article>
</body>
</html>