<!DOCTYPE html> 
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>  The Title </title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<link rel="stylesheet" type="text/css" href="views/style.css">
</head>
<body> 
	<article>
	<h1> Earth </h1>
	<p> Diameter: 									7,917.5 Miles </p>
	<p> Day length: 								24 Hours</p>
	<p> Temperature Variance:						-128°F - 134°F</p>
	<p> Aphelion (Furthest Distance From the Sun):  1.016 AU</p>
	<p> Perihelion (Closest Distance From the Sun): 0.983 AU</p>
	<p> Year Length: 								365.256 Days</p>
	<p> Number of Moons:							1</p>
	<p> Surface Area: 								5.1 x 10^8 km^2</p>
	<p> Volume: 									1.083 x 10^12 km^3</p>
	<p> Mass:										4.972 x 10^24 kg</p>
	</article>
</body>
<footer>
</footer>