<!DOCTYPE html> 
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>  The Title </title>
	<meta name="description" content="">
	<meta name="keywords" content="">
		<style>
			html { text-align: center; font-family: sans-serif;}
			body { width: 990px; margin: 0 auto 0 auto; text-align: left; padding: 5px; background-image: url("file:///Users/jameslivingston/Downloads/swimmingPoolRipples.jpeg"); color:white;}
			header { width: 990px; display: table; text-align: center; background-color: #e0e0e0; color: #00ccff; border: 7px black solid; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;}
			nav { width: 970px; display: table; text-align: center; background-color: #00ccff; padding: 7px; border: 10px black solid;}
			article { width: 990px; height: 1000px; display: table; text-align: center; color: black; background: #c0c0c0; border: 7px black solid;}
			footer { width: 990px; height: 200px; terxt-align: right; color: black; background: #c0c0c0; border: 7px black solid;}
		</style>
</head>
<body> 
	<header>
		<h1> <p style ="font-size: 64px;">ImagePage</h1>
		<h2> Kinda </h2>
	</header>
	<nav>
		<ul> <p style= "text-decoration: none; padding: 10px; float: left; background: #00ffff; width: 170px; border: 3px solid white; margin: 10px;"> <a style="color: #000000" href="beginningOfWebpage.html"> Home</a></ul>
		<ul> <p style= "padding: 10px; float: left; background: #00ccff; width: 170px; border: 3px solid white; margin: 10px;"> <a style="color: #000000" href="Image.html"> Image Page</a></ul>
		<ul> <p style= "padding: 10px; float: left; background: #0099ff; width: 170px; border: 3px solid white; margin: 10px;"> <a style="color: #000000" href="Video.html"> Video Page </a></ul>
		<ul> <p style= "padding: 10px; float: left; background: #0066ff; width: 170px; border: 3px solid white; margin: 10px;"> <a style="color: #000000" href="Audio.html"> Audio Page </a></ul>
	</nav>
	<article>
		<h1>  <p style= " font-size: 36px;"> The Image on Image Page </h1>
		<h2>  <p style= " font-size: 12px;"> Kinda </h2>
		<img src="file:///Users/jameslivingston/Desktop/BlackBlue.png" alt="Could Not Find Image" height="500" width="920">
		<p> 
		This text would probably be some description. This text would probably be some description. This text would probably be some description. 
		This text would probably be some description. This text would probably be some description. This text would probably be some description. 
		This text would probably be some description. This text would probably be some description. This text would probably be some description. 
		This text would probably be some description. This text would probably be some description. This text would probably be some description. 
		This text would probably be some description. This text would probably be some description. This text would probably be some description. 
		</p>
	</article>
</body>
<footer>
<h1> thingy thingy </h1>
</footer>
</html>