<!DOCTYPE html> 
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>  The Title </title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<link rel="stylesheet" type="text/css" href="views/style.css">
</head>
<body> 
	<article>
	<h1> Jupiter </h1>
	<p> Diameter: 									86,881.4 Miles </p>
	<p> Day length: 								9 Hours 58 Minutes</p>
	<p> Temperature Variance:						-260°F - 1340°F</p>
	<p> Aphelion (Furthest Distance From the Sun):  5.454 AU</p>
	<p> Perihelion (Closest Distance From the Sun): 4.950 AU</p>
	<p> Year Length: 								4332.59 Days</p>
	<p> Number of Moons:							67</p>
	<p> Surface Area: 								6.1419 x 10^10 km^2</p>
	<p> Volume: 									1.4313 x 10^15 km^3</p>
	<p> Mass:										1.8986 x 10^27 kg</p>
	</article>
</body>
<footer>
</footer>