<!DOCTYPE html> 
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>  The Title </title>
	<meta name="description" content="">
	<meta name="keywords" content="">
		<style>
			html { text-align: center; font-family: sans-serif;}
			body { width: 990px; margin: 0 auto 0 auto; text-align: left; background-image: url("/images/swimmingPool.jpg"); border: 50px solid transparent; border-image: url("/images/borderDesign.png") 330 round;}
			header { width: 978px; display: table; text-align: center; background-color: #e0e0e0; color: #0099ff; border: 7px black solid; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -2px black; border-bottom: 4px black solid;}
			nav { float: center; width: 976px; display: table; text-align: center; background-color: #00ffff; border: 8px black solid; border-top: 4px black solid; border-bottom: 4px black solid;}
			article { width: 967px; padding: 5px; height: 700px; display: table; text-align: center; color: black; background: #e0e0e0; border: 8px black solid; border-top: 4px black solid; border-bottom: 4px black solid;}
			footer { width: 966px; height: 100px; terxt-align: right; color: black; background: #e0e0e0; border: 8px black solid; border-top: 4px black solid; padding: 5px;}
		</style>
</head>
<body> 
	<header>
        <h1>Create Info Page</h1>
	</header>
	<nav>
		<a style="color: #000000; text-decoration: none;" href="index.html"> <ul> <p style= "text-decoration: none; padding: 10px; float: left; background: #00ffff; width: 170px; border: 3px solid white; margin: 10px;">  Home</ul></a>
		<a style="color: #000000; text-decoration: none;" href="Image.html"> <ul> <p style= "padding: 10px; float: left; background: #00ccff; width: 170px; border: 3px solid white; margin: 10px;">Image Page</ul></a>
		<a style="color: #000000; text-decoration: none;" href="Video.html"> <ul> <p style= "padding: 10px; float: left; background: #0099ff; width: 170px; border: 3px solid white; margin: 10px;"> Video Page </ul></a>
		<a style="color: #000000; text-decoration: none;" href="Audio.html"> <ul> <p style= "padding: 10px; float: left; background: #0066ff; width: 170px; border: 3px solid white; margin: 10px;"> Audio Page </ul></a>
	</nav>
	<article>
		<h2>Description:</h2>
		<p> 
			PCS swimming is the swimming team for PCS. 
			The PCS Swimming team is where people from PCS go to swim, on a team. 
			If someone from PCS swims, they probably do so for the PCS swim team. 
			If they swim for some other team, the are dirty traitors of the PCS swim team.
        </p>
		<h2> Goal: </h2>
		<p>
		At the PCS swim team we aim to have people from PCS swim in a pool.
		Hopefully, the people Swimming will swim quickly.
		Eventually the PCS swim team members will swim in the same pool as people from swim teams of other schools.
		When this happens, we hope to swim faster than them.
		However, fun is the number one goal, or something cheesy like that.
		</p>
		<h2> Meetings: </h2>
		<p>
		The PCS swim team meets every thursday after school at the pool that we don't have.
		If you cant find the pool, that is on you.
		We also meet occasionally on other dates which are either set or not set; these are required meetings.
		Failure to show up for one practice will result in expulsion from the PCS swim team.
		</p>
		<h2> Contact: </h2>
		<p>
		Email us at PCSSwimming@gmail.com or call at 999-999-9999 if you have any questions. Questions about meeting dates or times will not be answered as you may be a spy, and we are very secretive. 
		</p>
	</article>
<footer>
</footer>
</body>
</html>