<!DOCTYPE html> 
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>  The Title </title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<link rel="stylesheet" type="text/css" href="views/style.css">
</head>
<body> 
	<article>
	<h1> Mars </h1>
	<p> Diameter: 						4,212 miles </p>
	<p> Day length: 					1 day 40 minutes</p>
	<p> other cool fact: 				famous for aliens and stranded astronauts</p>
	<p> i dont know: 					:[</p>
	</article>
</body>
<footer>
<p>Space stuff by sean </p>
</footer>