<!DOCTYPE html> 
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>  The Title </title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<link rel="stylesheet" type="text/css" href="views/style.css">
</head>
<body> 
	<article>
	<h1> Mars </h1>
	<p> Diameter: 									4,212 Miles </p>
	<p> Day length: 								1 Day 40 Minutes</p>
	<p> Temperature Variance:						-209°F - 93°F</p>
	<p> Aphelion (Furthest Distance From the Sun):  1.666 AU</p>
	<p> Perihelion (Closest Distance From the Sun): 1.3814 AU</p>
	<p> Year Length: 								686.971 Days</p>
	<p> Number of Moons:							2</p>
	<p> Surface Area: 								1.44 x 10^8 km^2</p>
	<p> Volume: 									1.6318 x 10^11 km^3</p>
	<p> Mass:										6.4171 x 10^23 kg</p>
	</article>
</body>
<footer>
</footer>