<!DOCTYPE html> 
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>  The Title </title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<link rel="stylesheet" type="text/css" href="views/style.css">
</head>
<body> 
	<article>
	<h1> Mercury </h1>
	<p> Diameter: 									3,032 Miles </p>
	<p> Day length: 								58 Days 15 Hours 30 Minutes</p>
	<p> Temperature Variance:						-280°F - 800°F</p>
	<p> Aphelion (Furthest Distance From the Sun):  0.466 AU</p>
	<p> Perihelion (Closest Distance From the Sun): 0.307 AU</p>
	<p> Year Length: 								87.969 Days</p>
	<p> Number of Moons:							0</p>
	<p> Surface Area: 								7.48 x 10^7 km^2</p>
	<p> Volume: 									6.083 x 10^10 km^3</p>
	<p> Mass:										3.3011 x 10^23 kg</p>
	
	</article>
</body>
<footer>
</footer>