<!DOCTYPE html> 
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>  The Title </title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<link rel="stylesheet" type="text/css" href="views/style.css">
</head>
<body> 
	<article>
	<h1> Neptune </h1>	
	<p> Diameter: 									30,599 Miles </p>
	<p> Day length: 								16 Hours 6 Minutes</p>
	<p> Temperature Variance:						-360°F - 14°F</p>
	<p> Aphelion (Furthest Distance From the Sun):  30.33 AU</p>
	<p> Perihelion (Closest Distance From the Sun): 29.81 AU</p>
	<p> Year Length: 								60,182 Days</p>
	<p> Number of Moons:							0=14</p>
	<p> Surface Area: 								7.6183 x 10^9 km^2</p>
	<p> Volume: 									6.254 x 10^13 km^3</p>
	<p> Mass:										1.0243 x 10^26 kg</p>
	</article>
</body>
<footer>
</footer>