<!DOCTYPE html> 
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>  The Title </title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<link rel="stylesheet" type="text/css" href="views/style.css">
</head>
<body> 
		<iframe src="/solarSystem" <a style=" position: absolute; top: 0; left:0; height:1500px; width: 1500px; z-index: -1;">>
  			<p>Your browser does not support iframes.</p>
		</iframe>
	<header>
	<h1> Neptune and stuff </h1>
	</header>
	<nav>
	<h1> Neptune: </h1>
	<p> like the god, or something </p>
	<a style="color: #000000; text-decoration: none;" href="spaceHome.html"> <ul> <p style= "text-decoration: none; padding: 10px; float: left; background: #00ffff; width: 170px; border: 3px solid white; margin: 10px;">  Home</ul></a>
	<p style="color: black"> Eek, you found me! </p>
	</nav>
	<article>
	<p> MOONS?!?!?! ^^^^^^ </p>
	</article>
</body>
<footer>
<p>Space stuff by sean </p>
</footer>