<!DOCTYPE html> 
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>  The Title </title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<link rel="stylesheet" type="text/css" href="views/style.css">
</head>
<body> 
	<header>
	<h1> Saturn and stuff </h1>
	</header>
	<nav>
	<h1> saturn: </h1>
	<p> it like might have a moon, i dont know. press up to figure out. </p>
	<a style="color: #000000; text-decoration: none;" href="spaceHome.html"> <ul> <p style= "text-decoration: none; padding: 10px; float: left; background: white; width: 170px; border: 3px solid white; margin: 10px;">  Home</ul></a>
	</nav>
	<article>
	<p> weeeeeeeee </p>
	</article>
</body>
<footer>
<p>Space stuff by sean </p>
</footer>