
<html>
    <head>
    </head>
    <body style="margin:0">
            <iframe src="/spaceHome.html" id="theOtherPart" style=" position: absolute; top: 0; left:0; height: 100%; width: 100%; z-index: 0; margin:0; padding: 0; border: 0;">
  			<p>Your browser does not support iframes.</p>
		</iframe>
        <script type="text/javascript" src="scripts/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="scripts/three.min.js"></script>
        <script type="text/javascript" src="scripts/superSystem.js"></script>
        <script type="text/javascript">
        	window.onload = function() {
        		document.getElementById("canvas").focus();
//         		document.focus();
        	};
        </script>
    </body>
</html>