<!DOCTYPE html> 
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>  The Title </title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<link rel="stylesheet" type="text/css" href="views/style.css">
</head>
<body> 
	<header>
	<h1> SPACE:D </h1>
	</header>
	<nav>
	<h1> controls: </h1>
	<p>left/right to swap planets, up down to change to its moons. Scroll in the margins to zoom in or out. Enjoy the earths and moons. cuz yah </p>
	</nav>
	<article>
	<p style="color: blue;">PLANETS PLANETS PLANETS PLANETS PLANETS PLANETS PLANETS PLANETS PLANETS PLANETS PLANETS PLANETS </p>
	<p style="color: white;">PLANETS PLANETS PLANETS PLANETS PLANETS PLANETS PLANETS PLANETS PLANETS PLANETS PLANETS PLANETS </p>
	<a style="color: #000000; text-decoration: none;" href="NeptunePage.html"> <ul> <p style= "text-decoration: none; padding: 10px; float: left; background: white; width: 170px; border: 3px solid white; margin: 10px;">Neptune</ul></a>
	<a style="color: #000000; text-decoration: none;" href="UranusPage.html"> <ul> <p style= "text-decoration: none; padding: 10px; float: left; background: white; width: 170px; border: 3px solid white; margin: 10px;">Uranus(lulz)</ul></a>
	<a style="color: #000000; text-decoration: none;" href="VenusPage.html"> <ul> <p style= "text-decoration: none; padding: 10px; float: left; background: white; width: 170px; border: 3px solid white; margin: 10px;">Venus</ul></a>
	<a style="color: #000000; text-decoration: none;" href="earthPage.html"> <ul> <p style= "text-decoration: none; padding: 10px; float: left; background: white; width: 170px; border: 3px solid white; margin: 10px;">Earth</ul></a>	
	<a style="color: #000000; text-decoration: none;" href="saturnPage.html"> <ul> <p style= "text-decoration: none; padding: 10px; float: left; background: white; width: 170px; border: 3px solid white; margin: 10px;">Saturn</ul></a>	
	<a style="color: #000000; text-decoration: none;" href="MarsPage.html"> <ul> <p style= "text-decoration: none; padding: 10px; float: left; background: white; width: 170px; border: 3px solid white; margin: 10px;">Mars</ul></a>
	<a style="color: #000000; text-decoration: none;" href="sunPage.html"> <ul> <p style= "text-decoration: none; padding: 10px; float: left; background: white; width: 170px; border: 3px solid white; margin: 10px;">The Sun</ul></a>	
	<a style="color: #000000; text-decoration: none;" href="jupiterPage.html"> <ul> <p style= "text-decoration: none; padding: 10px; float: left; background: white; width: 170px; border: 3px solid white; margin: 10px;">Jupiter</ul></a>	
	<a style="color: #000000; text-decoration: none;" href="mercuryPage.html"> <ul> <p style= "text-decoration: none; padding: 10px; float: left; background: white; width: 170px; border: 3px solid white; margin: 10px;">Mercury</ul></a>	
	</article>
</body>
<footer>
<p>Space stuff by sean </p>
</footer>
