<!DOCTYPE html> 
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>  The Title </title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<link rel="stylesheet" type="text/css" href="views/style.css">
</head>
<body> 
		<article>
	<h1> This Is the Solar System: </h1>
	<h2> Well, a Model of It </h2>
	<h1> Controls: </h1>
	<p>Press the left or right arrow keys to swap views between planets</p>
	<p>Scroll to zoom in or out</p>
	<p>Mouse movement changes view point </p>
	<p>The Home button in the bottom left will bring you back to this screen at any time</p>
		</article>
</body>
<footer>
</footer>
