html 	{ 
		text-align: center; 
		font-family: sans-serif;
		}

body 	{ 
		width: 990px;
		margin: 0 auto 0 auto; 
		text-align: left; 
		background: transparent; 
		border: 50px solid transparent; 
		}


article { 
		opacity: 0.5; 
		width: 966px; 
		padding: 5px; 
		height: 700px; 
		display: table; 
		text-align: center; 
		color: white;
		}
		
		
