<!DOCTYPE html> 
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>  The Title </title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<link rel="stylesheet" type="text/css" href="views/style.css">
</head>
<body> 
	<article>
	<h1> Sun </h1>
	<p> Diameter: 									864,948.7 Miles </p>
	<p> Temperature Variance:						28,259,540°F - 9940°F</p>
	<p> Surface Area: 								6.09 x 10^12 km^2</p>
	<p> Volume: 									1.41 x 10^18 km^3</p>
	<p> Mass:										1.988 x 10^30 kg</p>
	</article>
</body>
<footer>
</footer>