<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>My third webpage</title>
  </head>
  <body>
    <h1>My third webpage</h1>
    <ul><a href="/">My first Webpage</a></ul>
    <ul><a href="second">My Second Webpage</a></ul>
    <ul><a href="fourth">My fourth Webpage</a></ul>
    <ul><a href="fifth">My fifth Webpage</a></ul>
    <ul><a href="about">An ABOUT page. HOLY MOLEY</a></ul>
    <ul style="font-size:55px"><b></b><a href="shrink">FREAKING MAGICAL SHRINKING LETTERS, YO!</a></b></ul>
    <table border="1">
 <tr>
  <td>Row 1 - Col 1</td>
  <td>Row 1 - Col 2</td>
  <td>Row 1 - Col 3</td>
  <td rowspan="4">Row 1, 2, 3 & 4 - Col 4</td>
 </tr>
 <tr>
  <td>Row 2 - Col 1</td>
  <td colspan="2" rowspan="3">Row 2, 3 & 4 - Col 2 & 3</td>
 </tr>
 <tr>
  <td>Row 3 - Col 1</td>
 </tr>
 <tr>
  <td>Row 4 - Col 1</td>
 </tr>
 <tr>
  <td colspan="2">Row 5 - Col 1 & 2</td>
  <td colspan="2">Row 5 - Col 3 & 4</td>
 </tr>
 <tr>
  <td colspan="4">Row 6 - Col 1, 2, 3 & 4</td>
 </tr>
</table>
  </body>
</html>