<!DOCTYPE html> 
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>  The Title </title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<link rel="stylesheet" type="text/css" href="views/style.css">
</head>
<body> 
	<article>
	<h1> Uranus </h1>
	<p> Diameter: 									31,518 Miles </p>
	<p> Day length: 								17 Hours 14 Minutes</p>
	<p> Temperature Variance:						-370°F - 1070°F</p>
	<p> Aphelion (Furthest Distance From the Sun):  20.11 AU</p>
	<p> Perihelion (Closest Distance From the Sun): 18.33 AU</p>
	<p> Year Length: 								30,688 Days</p>
	<p> Number of Moons:							27</p>
	<p> Surface Area: 								8.1156 x 10^9 km^2</p>
	<p> Volume: 									6.8330 x 10^13 km^3</p>
	<p> Mass:										8.6810 x 10^25 kg</p>
	</article>
</body>
<footer>
</footer>