<!DOCTYPE html> 
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>  The Title </title>
	<meta name="description" content="">
	<meta name="keywords" content="">
		<style>
			html { text-align: center; font-family: sans-serif;}
			body { width: 990px; margin: 0 auto 0 auto; text-align: left; padding: 5px; background-image: url("/images/swimmingPoolRipples.jpeg"); color:white;}
			header { width: 993px; display: table; text-align: center; background-color: #e0e0e0; color: #0099ff; border: 7px black solid; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; border-bottom: 4px black solid;}
			nav { float: center; width: 977px; display: table; text-align: center; background-color: #0099ff; padding: 7px; border: 8px black solid; border-top: 4px black solid; border-bottom: 4px black solid;}
			article { width: 990px; height: 1000px; display: table; text-align: center; color: black; background: #e0e0e0; border: 8px black solid; border-top: 4px black solid; border-bottom: 4px black solid;}
			footer { width: 980px; height: 100px; terxt-align: right; color: black; background: #e0e0e0; border: 8px black solid; padding: 5px; border-top: 4px black solid;}
		</style>
</head>
<body> 
	<header>
		<h1> <p style ="font-size: 64px;">VideoPage</h1>
		<h2> Kinda </h2>
	</header>
	<nav>
		<a style="color: #000000; text-decoration: none;" href="index.html"> <ul> <p style= "text-decoration: none; padding: 10px; float: left; background: #00ffff; width: 170px; border: 3px solid white; margin: 10px;">  Home</ul></a>
		<a style="color: #000000; text-decoration: none;" href="Image.html"> <ul> <p style= "padding: 10px; float: left; background: #00ccff; width: 170px; border: 3px solid white; margin: 10px;">Image Page</ul></a>
		<a style="color: #000000; text-decoration: none;" href="Video.html"> <ul> <p style= "padding: 10px; float: left; background: #0099ff; width: 170px; border: 3px solid white; margin: 10px;"> Video Page </ul></a>
		<a style="color: #000000; text-decoration: none;" href="Audio.html"> <ul> <p style= "padding: 10px; float: left; background: #0066ff; width: 170px; border: 3px solid white; margin: 10px;"> Audio Page </ul></a>
	</nav>
	<article>
		<h1> <p style= " font-size: 36px;"> This is the Video on the Video Page </h1>
		<h2> <p style= " font-size: 12px;"> Kinda <h2>
		<video width="320" height="240" controls> <source src="" type="video/mp4"> Your browser does not support the video tag. </video>
		<p>
		This would be some description. This would be some description. This would be some description. 
		This would be some description. This would be some description. This would be some description. 
		This would be some description. This would be some description. This would be some description. 
		This would be some description. This would be some description. This would be some description. 
		This would be some description. This would be some description. This would be some description. 
		This would be some description. This would be some description. This would be some description. 
		</p>
	</article>
</body>
<footer>
<h1> <p style="text-align: right; font-size: 12px"> This page was designed by James Livingston with tech help from John Hyde</h1>
<h2> <p style="text-align: right; font-size: 12px"> Other technical stuff* </h2>
<h3> <p style="text-align: left; font-size: 8px"> *stuff refers to things </h3>
</footer>
</html>